/* 스킵 메뉴 */
#skip {
    position: relative;
    z-index: 100000;
}
#skip a {
    background: #000;
    color: #fff;
    position: absolute;
    padding: 20px 40px;
    left: -400px;
    top: 5px;
}
#skip a:active,
#skip a:focus {
    left: 5px;
}

/* body */
body {
    background-color: #000;
    font-weight: 400;
    font-family: "Bai Jamjuree";
    user-select: none;
}

/* img */
img {
    width: 100%;
}

/* 컨테이너 */
.container {
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
}
.section {
    margin: 150px 0;
}

/* 컨테이너 */
/* .container {
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
} */
