#search_page {
}
.search__result__inner {
  width: 70%;
  margin: 0 auto;
  padding: 120px 0;
}
.search__result__inner img {
  margin-bottom: 20px;
}
.search__img__tit {
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
}
.search__img__desc {
  width: 100%;
  text-align: justify;
  font-size: 18px;
}